@media only screen and (max-width: 576px) {
  .site-heading span {
    font-size: 70px;
  }
  .slider-content h1 {
    font-size: 38px;
  }
  .slider-image {
    display: none;
  }
  .about-img {
    margin: 20px;
  }
  .site-heading h2 {
    font-size: 42px;
  }
  .button.submit-btn a {
    background: #f44336;
    border: none;
  }
  .button.submit-btn a::after {
    background: rgb(23 23 24);
  }
  ul.footer-social {
    text-align: left;
  }
  .accordion-header button {
    font-size: 14px;
  }
  .accordion-header button span {
    width: 40px;
    height: 40px;
    line-height: 40px;
  }
  .accordion-item {
    margin-bottom: 25px;
  }
}
